@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
	/* Code for Firefox */
	color: #2c363f;
	background: #d972ff;
}

::selection {
	color: #2c363f;
	background: #d972ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

input,
textarea {
	margin: 0;
	padding: 0;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	line-height: inherit;
}
